* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    background: #f8f9fa;
}
header {
    background: #fff;
    padding: 2rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}
.logo-container img {
    height: 80px;
}
.color-picker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 1rem 0;
}
.color-display {
    flex-grow: 1;
    height: calc(70vh - 64px);
    transition: background-color 0.5s ease;
    background-color: #eeeeee;
}
#color1 {
    background-color: #b0b0b0;
}
.input-group {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #dddddd;
    padding: 0.5rem;
}
.color-input {
    border: none;
    padding: 8px;
    margin-right: 0.5rem;
    font-size: 1rem;
    width: 100px;
    outline: none;
}
footer {
    padding: 1rem;
    background: #fff;
    text-align: center;
    position: relative;
    z-index: 10;
}
